$amber50: #FFF8E1;
$amber100: #FFECB3;
$amber200: #FFE082;
$amber300: #FFD54F;
$amber400: #FFCA28;
$amber500: #FFC107;
$amber600: #FFB300;
$amber700: #FFA000;
$amber800: #FF8F00;
$amber900: #FF6F00;
$amberA100: #FFE57F;
$amberA200: #FFD740;
$amberA400: #FFC400;
$amberA700: #FFAB00;
