$deepOrange50: #FBE9E7;
$deepOrange100: #FFCCBC;
$deepOrange200: #FFAB91;
$deepOrange300: #FF8A65;
$deepOrange400: #FF7043;
$deepOrange500: #FF5722;
$deepOrange600: #F4511E;
$deepOrange700: #E64A19;
$deepOrange800: #D84315;
$deepOrange900: #BF360C;
$deepOrangeA100: #FF9E80;
$deepOrangeA200: #FF6E40;
$deepOrangeA400: #FF3D00;
$deepOrangeA700: #DD2C00;
