$lightBlue50: #E1F5FE;
$lightBlue100: #B3E5FC;
$lightBlue200: #81D4FA;
$lightBlue300: #4FC3F7;
$lightBlue400: #29B6F6;
$lightBlue500: #03A9F4;
$lightBlue600: #039BE5;
$lightBlue700: #0288D1;
$lightBlue800: #0277BD;
$lightBlue900: #01579B;
$lightBlueA100: #80D8FF;
$lightBlueA200: #40C4FF;
$lightBlueA400: #00B0FF;
$lightBlueA700: #0091EA;
