$lightGreen50: #F1F8E9;
$lightGreen100: #DCEDC8;
$lightGreen200: #C5E1A5;
$lightGreen300: #AED581;
$lightGreen400: #9CCC65;
$lightGreen500: #8BC34A;
$lightGreen600: #7CB342;
$lightGreen700: #689F38;
$lightGreen800: #558B2F;
$lightGreen900: #33691E;
$lightGreenA100: #CCFF90;
$lightGreenA200: #B2FF59;
$lightGreenA400: #76FF03;
$lightGreenA700: #64DD17;
