$orange50: #FFF3E0;
$orange100: #FFE0B2;
$orange200: #FFCC80;
$orange300: #FFB74D;
$orange400: #FFA726;
$orange500: #FF9800;
$orange600: #FB8C00;
$orange700: #F57C00;
$orange800: #EF6C00;
$orange900: #E65100;
$orangeA100: #FFD180;
$orangeA200: #FFAB40;
$orangeA400: #FF9100;
$orangeA700: #FF6D00;
