$pink50: #FCE4EC;
$pink100: #F8BBD0;
$pink200: #F48FB1;
$pink300: #F06292;
$pink400: #EC407A;
$pink500: #E91E63;
$pink600: #D81B60;
$pink700: #C2185B;
$pink800: #AD1457;
$pink900: #880E4F;
$pinkA100: #FF80AB;
$pinkA200: #FF4081;
$pinkA400: #F50057;
$pinkA700: #C51162;
