$purple50: #F3E5F5;
$purple100: #E1BEE7;
$purple200: #CE93D8;
$purple300: #BA68C8;
$purple400: #AB47BC;
$purple500: #9C27B0;
$purple600: #8E24AA;
$purple700: #7B1FA2;
$purple800: #6A1B9A;
$purple900: #4A148C;
$purpleA100: #EA80FC;
$purpleA200: #E040FB;
$purpleA400: #D500F9;
$purpleA700: #AA00FF;
