// font-size 20-100 偶数字大
@for $i from 20 through 100 {
  .fs-#{$i} {
    @if $i % 2 == 0 {
      font-size: #{$i}px;
    }
  }
}

// font-weight 100 - 900 字重
@for $i from 1 through 9 {
  .fw-#{$i}00 {
    font-weight: #{$i}00;
  }
}

.bold {font-weight: 700;}

// font-style
.italic {
  font-style: italic;  // 斜体
}

// line-height
@for $i from 20 through 100 {
  .lh-#{$i} {
    @if $i % 2 == 0 {
      line-height: #{$i}px;
    }
  }
}
