.location-search {
  .spin {
    display: inline-block;
    width: 36px;
    height: 36px;
  }
  .spin:after {
    content: " ";
    display: block;
    width: 36px;
    height: 36px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #409eff;
    border-color: #409eff transparent #409eff transparent;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
